.SingleOrder {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #eee;
    box-shadow: 0 2px 6px #cdcdcd;
}
.Ingredient {
    border: 1px solid #ededed;
    display: inline-block;
    padding: 6px 12px;
    text-transform: capitalize;
    margin-right: 10px;
}
.bacon {
    border-color: #bf3813;
    color: #bf3813;
}
.salad {
    border-color: #228c1d;
    color: #228c1d;
}
.cheese {
    border-color: #f4d004;
    color: #f4d004;
}
.meat {
    border-color: #7f3608;
    color: #7f3608;
}